body,*{
    padding: 0px;
    margin: 0px;
}
.line-cross{
    text-decoration: line-through;
}

.outer_wrapper{
    padding: 2em;
    width: 50%;
    /* background-color: aqua; */
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

}
h1{
    margin-bottom: 40px;
    text-align: center;
}
input.todo-input{
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: rgb(233, 233, 233);
    padding-left:10px;
    font-size: 18px;
}
button{
    height: 30px;
    width: 90px;
    margin: 10px;
    border-radius: 10px;
    border: 2px solid rgb(180, 180, 180);
    background-color: white;
    font-size: 18px;
}
button.add{
    color: white;
    background-color: rgb(0, 130, 200);
}
li{
    font-size: 20px;
    margin: 0px 10px 0px 10px;
}
li button{
    margin-left: 30px;
}
ul{
    border: 1px solid black;
    border-radius: 20px;
    padding: 15px 0px 15px 30px;
}
.inner{
    margin-left: 20pxß;
}

